            <!-- jQuery CDN -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <!-- Bootstrap JS CDN -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </div><!-- /.container -->
    </body>
</html>