            <!--<footer class="footer">
                <div class="container">
                <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
                </div>
            </footer>-->
            <!-- jQuery CDN -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            
            <script src="/scripts/search.js" async defer></script>
            
            <!-- Bootstrap JS CDN -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </div><!-- /.container -->
    </body>
</html>